body {
    background-image: linear-gradient(to right, rgb(2, 0, 140), rgb(140, 82, 0));
}

.page_title {
    text-align: center;
    font-size: 60px;
    color: white;
}

.page_sub_title {
    text-align: center;
    font-size: 40px;
    color: white;
}



.username_password_div {
    margin-top: 7%;
    text-align: center;
}

.username_password_div label {
    color: aliceblue;
    font-size: 30px;
}

.username_password_div input {
    font-size: 25px;
}

.main_buttons_div {
    margin-top: 3%;
    text-align: center;
}

.button {
    cursor: pointer;
    border: 3px solid rgb(255, 255, 255);
    padding: 3px;
    background-color: rgb(216, 115, 0);
    font-size: 45px;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
    text-decoration: none;
}
